body {
    background-color: bisque;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin: 23px;
    box-sizing: border-box; /* Включение границ и отступов в общий размер элемента */
  }

  p{
    text-decoration: none;
    font-family: 'Kural', 'Arial Black', serif;
    font-weight: normal;
    color: #6a94cc;
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    font-family: 'Kural', 'Arial Black', serif;
    font-weight: normal;
    color: #6a94cc;
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0;
    border: solid 2px black;
    border-radius: 1em; 
    transition: background-color 0.3s; /* Добавляем плавный переход цвета фона */
  }
  
  li:hover a {
    background-color: rgb(173, 165, 173);
  }